
<div class="container-fluid bg-brown text-offwhite shadow px-2 py-3 parent">
    <div class="container d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/">
          <h1 class="mb-0">Student Dashboard</h1>
        </a>
      </div>
      <div class="d-flex gap-4">
        <a class="button hover-offwhite bg-offwhite-second text-brown" routerLink="/home">Home</a>
        <a class="button hover-offwhite bg-offwhite-second text-brown" routerLink="/add-student">Register</a>
        <a class="button hover-offwhite bg-offwhite-second text-brown" routerLink="/login">Login</a>
        <a *ngIf="!hideStudentsLink" class="button hover-offwhite bg-offwhite-second text-brown" routerLink="/students">Students</a>

      </div>
    </div>
  </div>