<section class="hero jumbotron bg-white text-black font-bold">
  <div class="imgcontainer">
    <img src='avatar.jpg' alt="Avatar" class="avatar">
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input id="username" type="text" placeholder="Enter Username" name="username" required [(ngModel)]="username">

      <label for="password"><b>Password</b></label>
      <input id="password" type="password" placeholder="Enter Password" name="password" required [(ngModel)]="password">

      <button type="submit" class="btn btn-primary">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>
</section>

<div *ngIf="successMessage" class="success-message" aria-labelledby="successMessage">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="error-message" aria-labelledby="errorMessage">{{ errorMessage }}</div>
