.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .text-violet {
    color: rgb(75, 21, 200);
  }
  
  .btn {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: darkorange;
  }
  